{% extends 'main.html' %}
{% block content %}

<main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">Programmers</h3>
      <ul class="messages">
        <li class="message message--unread">
          <a href="message.html">
            <span class="message__author">Alireza AhmadiHadi</span>
            <span class="message__subject">Computer Engineering</span>
            <span class="message__date">9821973101</span>
          </a>
        </li>
        <li class="message message--unread">
          <a href="message.html">
              <span class="message__author">Zahra Asgharian</span>
              <span class="message__subject">Computer Engineering</span>
              <span class="message__date">9821973102</span>
            </a>
        </li>
        <li class="message message--unread">
            <a href="message.html">
              <span class="message__author">Mobina Mirzaie</span>
              <span class="message__subject">Computer Engineering</span>
              <span class="message__date">9821973131</span>
          </a>
        </li>
      </ul>
    </div>
  </main>

{% endblock content %}
