<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon" />

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />

    <!-- Theme UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <title>Internet Engineering</title>
</head>

<body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}
</body>
<script src="{% static 'uikit/app.js'%}"></script>

</html>