<!-- <h1>Internet Engineering</h1>
<hr>
<h2>Team members</h2>
<ul>
    <li><h3>ALireza Ahmadi Hadi</h3></li>
    <li><h3>Mobina Mirzaie</h3></li>
    <li><h3>Zahra asgharian</h3></li>
</ul>
<hr> -->

<!-- Header Section -->
<header class="header">
	<div class="container container--narrow">
		<a href="#" class="header__logo">
			<ion-icon name="home-outline" class="logo_icon"></ion-icon>
		</a>
		<nav class="header__nav">
			<input type="checkbox" id="responsive-menu" />
			<label for="responsive-menu" class="toggle-menu">
				<span>Menu</span>
				<div class="toggle-menu__lines"></div>
			</label>
			<ul class="header__menu">
				<li class="header__menuItem"><a href="#">Students</a></li>
				<li class="header__menuItem"><a href="#">Contents</a></li>
				<li class="header__menuItem"><a href="">Courses</a></li>
				<li class="header__menuItem"><a href="">Registration</a></li>
				<li class="header__menuItem"><a href="#" class="btn btn--sub">Login/Sign Up</a></li>
			</ul>
		</nav>
	</div>
</header>