<!-- Header Section -->
<header class="header">
	<div class="container container--narrow">
		<a href="{% url 'home' %}" class="header__logo">
			<ion-icon src="images/home.svg" class="logo_icon"></ion-icon>
		</a>
		<nav class="header__nav">
			<input type="checkbox" id="responsive-menu" />
			<label for="responsive-menu" class="toggle-menu">
				<span>Menu</span>
				<div class="toggle-menu__lines"></div>
			</label>
			<ul class="header__menu">
				<li class="header__menuItem"><a href="{% url 'allStudents' %}">Students</a></li>
				<li class="header__menuItem"><a href="{% url 'allCourses' %}">Courses</a></li>
				<li class="header__menuItem"><a href="{% url 'submitRegistration' %}">Registration</a></li>
				<li class="header__menuItem"><a href="#">Account</a></li>
				<li class="header__menuItem"><a href="#" class="btn btn--sub">Login</a></li>
			</ul>
		</nav>
	</div>
</header>