.logo_icon {
    font-size: 40px;
}

.dev__skills {
    display: flex;
}

.manage--btn {
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
}

.ion-icon_edit {
    font-size: 15px;
    margin-right: 3px;
}
