{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <div class="form-header">
                <a class="backButton" href="{% url 'allContents' %}">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
                <h3 class="form-header--content">Delete Content</h3>
            </div>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <p>Are your sure you want to delete this Content ?</p>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
            </form>
        </div>
    </div>
</main>
{% endblock %}