{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <div class="form-header">
                <a class="backButton" href="{% url 'allCourses' %}">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
                <h3 class="form-header--content">{{title}} Courses</h3>
            </div>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Save" />
            </form>
        </div>
    </div>
</main>
{% endblock %}